body {
  margin: 0;
  padding: 0;
  background-color: #030303;
  color: #d8dadd;
  font-family: "Verdana", "arial", "helvetica", "sans-serif";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar-container {
  background-color: #1a1a1a;
  width: 100%;
  height: 60px;
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #353536;
}

.title-img-container {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.nav-profile-container {
  margin-right: 1em;
  align-items: center;
}

.caret-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #272729;
  height: 45px;
  width: 45px;
  font-weight: 600;
  border-radius: 50%;
  font-size: 1.5em;
  margin-left: 0.5em;
}

.logo {
  height: 40px;
  margin-right: 0.5em;
}

.title {
  font-weight: 400;
  font-size: 1.6em;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  min-width: 75%;
}

.search-input {
  background-color: #272729;
  color: #d0d2d4;
  border: none;
  font-size: 1.3em;
  width: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.mag-glass {
  background-color: #272729;
  height: 30px;
  padding: 0.5em 1em;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-left: 0.5em;
}

.dropdown {
  position: absolute;
  top: 82px;
  right: 5px;
  width: 250px;
  background-color: #1a1a1a;
  border-radius: 5px;
  border: 1px solid #353536;
  padding: 1rem;
  overflow: hidden;
  animation-name: dropdown;
  animation-duration: 500ms;
}

@keyframes dropdown {
  from {
    top: -250px;
  }
  to {
    top: 80px;
  }
}

.menu-item {
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: background 500ms;
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: #272729;
}

.search-700px {
  display: none;
  margin-bottom: 1rem;
}

.home-container {
  display: flex;
  justify-content: center;
}

.home-post-container {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  width: 60%;
  max-width: 700px;
  border-radius: 5px;
  padding: 0.5em;
  border: 1px solid #353536;
}

.post-logo {
  height: 43px;
  margin-right: 0.5em;
}

.fake-input {
  width: 100%;
  margin: 0.2em 1em 0.2em 0.2em;
  padding: 0.8em;
  background-color: #272729;
  color: #737373;
  border-radius: 5px;
  border: 1px solid #272729;
}

.fake-input:hover {
  cursor: text;
  background-color: #1a1a1a;
  border: 1px solid #d0d2d4;
}

.post-container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin: 4em auto;
}

.create-post-p {
  margin: 0 0 0.5em 0;
  font-size: 1.2em;
  font-weight: 500;
}

.post-hr {
  border: 1px solid #353536;
  width: 100%;
  margin-bottom: 1em;
}

.post-form {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  border-radius: 5px;
}

.post-title {
  background-color: #1a1a1a;
  border: 1px solid #353536;
  font-family: "Verdana", "arial", "helvetica", "sans-serif";
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
  color: #d0d2d4;
}
.post-textarea {
  background-color: #1a1a1a;
  border: 1px solid #353536;
  color: #d0d2d4;
  font-family: "Verdana", "arial", "helvetica", "sans-serif";
  resize: vertical;
  border-radius: 5px;
  padding: 1em;
}

.post-button-form {
  margin: 1em 0 0 1em;
  padding: 0.5em 1.2em;
  background-color: #d8dadd;
  border: none;
  border-radius: 45px;
  color: #1a1a1a;
  font-size: 1em;
  font-family: inherit;
  font-weight: 600;
  align-self: flex-end;
  cursor: pointer;
}

.post-button-form:hover {
  background-color: #d0d2d4;
}

@media (max-width: 730px) {
  .post-container {
    margin: 4em 1em;
  }
}

@media (max-width: 700px) {
  .search-700px {
    display: flex;
  }

  .search-701px {
    display: none;
  }

  .post-container {
    margin: 4em 1em;
  }
}

@media (max-width: 400px) {
  .title {
    display: none;
  }
}

@media (min-width: 1100px) {
  .search-form {
    min-width: 60%;
  }
}

@media (max-width: 9500px) {
  .home-post-container {
    width: 90%;
  }
}
